.page-dashboard h1 {
  color: $secondary;
}

.business-list{
  .menu-title{
    padding-top: 15px !important;
    padding-bottom: 0 !important;
  }
  &__document{
    li{
      position: relative;
      &:before{
        content:'';
        position: absolute;
        left: 0;
        display: inline-block;
        top: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #67001D;
        margin-right: 10px;
      }
    }
  }
  &__title{
    border:none;
  }
  //&__dots{
  //  list-style: disc;
  //}
}
