$white: #FFFFFF;

$primary: #67001D;
$secondary: #005C78;
$primary-background: #EFE5E8;
$bg-sidebar: $white;
$bg-sidebar-item-active: #eafaff;
$sidebar-color: $secondary;
$bg-color: #FFFFFF;
$main-color: $primary + 30;
